.nav-bar{
    background-color:rgb(45, 50, 40);
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-link{
    color:white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;

}
.nav-link:hover{
    color:red;

}

.nav-bar .active{
    color:red;
}